body {
  margin: 0;
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}
main {
  height: 65vh;
  width: calc(200% / 3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 3rem auto 0 auto;
  gap: 0.5rem;
}

main div {
  background-color: rgb(194, 176, 176);
}
