body {
  margin: 0;
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  height: 65vh;
  width: calc(200% / 3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 3rem auto 0 auto;
  gap: 0.5rem;
}

main div {
  text-align: center;
  text-transform: capitalize;
}

#one {
  text-align: center;
}

#four {
  font-family: Inter, Ariel, sans-serif;
  text-align: justify;
}

#seven {
  display: flex;
  gap: 3rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
